@{
    ViewBag.Title = "Administration";
}
@model IEnumerable<Microsoft.Azure.Devices.Device>
<h2>@ViewBag.Title</h2>

<div class="row">
    @{
        List<SelectListItem> listItems = Model.Select(item => new SelectListItem
        {
            Text = item.Id,
            Value = item.Authentication.SymmetricKey.PrimaryKey
        }).ToList();
    }

    <table class="table" id="tbody">
        <tr>
            <td>Device Id</td>
            <td>Device Key</td>
            <td>Actions</td>
        </tr>
        @{
            foreach (var item in listItems)
            {
                <tr id=@item.Text>
                    <td>@item.Text</td>
                    <td>@item.Value</td>
                    <td>
                        <button type="button" class="btn btn-danger btnDeleteDevice" data-deviceId=@item.Text>
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
    </table>

</div>
<button type="button" class="btn btn-danger" id="btnDeleteAllDevices" >
    Delete all devices
</button>
<button type="button" class="btn btn-success" id="btnCreateDevice">
    Create device
</button>

<script type="text/javascript">
    $(document).ready(function () {

        // Delete all device
        $("#btnDeleteAllDevices").click(function () {
            $.ajax({
                url: '/Home/DeleteAllDevices/'
            }).done(function () {
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                alert('Something went wrong');
            });
        });

        // Create a device
        $("#btnCreateDevice").click(function () {
            $('#btnCreateDevice').button('loading');

            $.ajax({
                url: '/Home/AddDevice/'
            }).done(function (data) {
                $('#tbody').append("<tr id=\"" + data.Id + "\"><td>" + data.Id + "</td><td>" + data.Key + "</td><td>" +
                    "<button type=\"button\" class=\"btn btn-danger btnDeleteDevice\" data-deviceId=\"" + data.Id + "\">Delete</button></td></tr>");
                $('#btnCreateDevice').button('reset');
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                alert('Something went wrong' + textStatus);
            });

            
        });

        // delete a device
        $(".btnDeleteDevice").click(function () {
            var deviceId = $(this).attr("data-deviceId");

            console.log(deviceId);
            $.ajax({
                url: '/Home/DeleteDevice/',
                data: {pId: deviceId}
            }).done(function () {
                $('#' + deviceId).remove();
            }).fail(function (jqXHR, textStatus) {
                alert('Something went wrong');
            });
        });
    });
</script>
