@{
    ViewBag.Title = "Demo 4";
}
@model IEnumerable<Microsoft.Azure.Devices.Device>
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-xs-12 h4">
        @Html.DropDownList("ddl", new SelectList((System.Collections.IEnumerable) ViewData["devices"], "Authentication.SymmetricKey.PrimaryKey", "Id"), new { @id = "selectedDevice" })
        <br/>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <textarea id="txtComment" rows="2" cols="50"></textarea><br/>


        <button type="button" class="btn btn-primary btn-lg " id="btnSend" data-loading-text="<i class='glyphicon glyphicon-refresh glyphicon-spin'></i> Thinking...">Analyze Text</button>
    </div>
</div>
<hr/>
<br/>
<div class="row">
    <div class="col-xs-12" style="display: inline-block;">
        <div id="results" width="500px" style="display: inline-block; position: absolute;">
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        var deviceId = "";
        var deviceKey = "";


        var deviceId = $('#form-control').Text;
        var deviceKey = $('#form-control').Value;

        //Disable the Send button in case we don't have a deviceID and deviceKey
        //$("#btnSend").prop("disabled", (deviceId == ""));

        $('#btnSend').click(function () {
            deviceId = $("#selectedDevice :selected")[0].text;
            deviceKey = $("#selectedDevice :selected")[0].value;
            /*$('#btnSend').button('loading');
            $.ajax({
                url: '/Home/DeleteAllDevicesAsync/'
            }).done(function(data) {
                $('#btnSend').button('reset');
            }).fail(function(jqXHR, textStatus) {
                $("#results").html("An error occured");
                $('#btnSend').button('reset');
            });*/
            SendComment();
        });

        function SendComment() {
            var _value = $("#txtComment").val();
            $('#btnSend').button('loading');

            $.ajax({
                url: '/Home/SendImage/',
                data: { id: deviceId, key: deviceKey, url: _value }
            }).done(function(data) {
                //var res = "<br/><img id=\"imgres\" src=\"" + $("#txtComment").val() + "\" id=\"img\" width=\"450\"/>";
                var img = new Image();
                $("#results").html(img);
                $('#btnSend').button('reset');
                var data = JSON.parse(data);
                $("#results").width = 500;
                var subcontainer = $("<div id=\"resultscontainer\" width=\"500px\" style=\"display: solid;\"></div>");
                $("#results").append(subcontainer);
                var i = 0;
                img.onload = function() {
                    $.each(data, function(index, value) {
                        var div = $("<div class=\"labelbox\" onmouseover=\"showFaceInfo(" + i + ")\" onmouseout=\"hideFaceInfo(" + i + ")\" style=\"" +
                            "top:" + (parseInt(value.faceRectangle.top) / ((img.naturalWidth / 500) * img.height)) * 100 + "%;" +
                            "left:" + (parseInt(value.faceRectangle.left) / ((img.naturalWidth / 500) * img.width)) * 100 + "%;" +
                            "width:" + (parseInt(value.faceRectangle.width) / ((img.naturalWidth / 500) * img.width)) * 100 + "%;" +
                            "height:" + (parseInt(value.faceRectangle.height) / ((img.naturalWidth / 500) * img.height)) * 100 + "%;\"></div>");

                        var faceInfo = $('<span class="faceinfo" id="face' + i + '"' +
                            'style="top: ' + ((parseInt(value.faceRectangle.top) + parseInt(value.faceRectangle.height))
                                / ((img.naturalWidth / 500) * img.height)) * 100 +
                            '%; left: ' + ((parseInt(value.faceRectangle.left) + parseInt(value.faceRectangle.width))
                                / ((img.naturalWidth / 500) * img.width)) * 100 +
                            '%; display: none;">' +
                            '<span data-type="tiparrow" class="tiparrowleft" style="top: 91.5px;"></span>' +
                            '<span class="facecode">' +
                            '<p><span>Anger : </span>' + parseFloat(value.scores.anger).toFixed(4) + '</p>' +
                            '<p><span>Contempt : </span>' + parseFloat(value.scores.contempt).toFixed(4) + '</p>' +
                            '<p><span>Disgust : </span>' + parseFloat(value.scores.disgust).toFixed(4) + '</p>' +
                            '<p><span>Fear : </span>' + parseFloat(value.scores.fear).toFixed(4) + '</p>' +
                            '<p><span>Happiness : </span>' + parseFloat(value.scores.happiness).toFixed(4) + '</p>' +
                            '<p><span>Neutral : </span>' + parseFloat(value.scores.neutral).toFixed(4) + '</p>' +
                            '<p><span>Sadness : </span>' + parseFloat(value.scores.sadness).toFixed(4) + '</p>' +
                            '<p><span>Surprise : </span>' + parseFloat(value.scores.surprise).toFixed(4) + '</p>' +
                            '</span></span>');
                        subcontainer.append(faceInfo);
                        subcontainer.append(div);
                        i = i + 1;
                    });
                };
                img.width = 500;
                img.src = $("#txtComment").val();
                subcontainer.height = img.height;
            }).fail(function(jqXHR, textStatus) {
                $("#results").html("An error occured");
                $('#btnSend').button('reset');
            });

        }
    });

    function showFaceInfo(id) {
        $('#face' + id).css("display", "block");
    }

    function hideFaceInfo(id) {
        $('#face' + id).css("display", "none");
    }
</script>