@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Spell check</h2>
        <p>Help users correct spelling errors, recognize the difference among names, brand names, and slang, as well as understand homophones as they’re typing.</p>
        <button class="btn btn-default">@Html.ActionLink("Go to spell check", "Demo3", "Home")</button>
    </div>
    <div class="col-md-4">
        <h2>Emotion detect</h2>
        <p>Analyze faces to detect a range of feelings and personalize your app's responses</p>
        <button class="btn btn-default">@Html.ActionLink("Emotion detect", "Demo4", "Home")</button>
    </div>

</div>